body > header {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid black;
    width: 20em;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-style: italic;
}

section {
}

section > h1 {
    text-align: center;
    text-transform: uppercase;
}
section > h2 {
    text-align: center;
}

.post {
    border-bottom: 1px solid gray;
    max-width: 39%;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.post h1 {
    text-align: left;
}

.in-progress::after {
    content: "This is an in-progress post, meaning I'm posting it before it's finished to see how writing works over time.  You can see all the revisions at the github page for this site: http://github.com/duckwork/duckwork.github.io.  It's not a link because I'm adding this in as a ::after pseudo-element in CSS.  No it's not the best way to do it.";
    font-style: italic;
    font-size: 0.8em;
    border: 1px dashed black;
    padding: 1em;
    display: block;
}

a {
    text-decoration: none;
}
img {
    max-width: 80%;
    max-height: 300px;
}
