body > header {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid black;
    width: 20em;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-style: italic;
}

section {
}

section > h1 {
    text-align: center;
    text-transform: uppercase;
}
section > h2 {
    text-align: center;
}

.post {
    border-bottom: 1px solid gray;
    max-width: 39%;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.post h1 {
    text-align: left;
}

a {
    text-decoration: none;
}
